html{
    scroll-behavior: smooth;
}

.blankcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    height: 30px;
}

.herocontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
}
.background{
    background-color: #011324;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%239C92AC' fill-opacity='0.13' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");    

}
.font{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}
.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.description{
    color: aliceblue;
    font-size: 1.3em;
} 
.font-size{
    font-size: 20px;
}

a{
    color: #f0f8ff;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #95c8f8;
}
nav{
    background-color: #1883e7;
    height: auto;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    border-radius: 15px 15px 0 0;
    top: 0;
    z-index: 1000;
}
.navlogo img{
    height: 50px;
    background-size: cover;
}
.navfont{
    font-size: 0.8em;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color:aliceblue;
    padding: 10px;
    border-radius: 8;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 2em;
}
nav ul li a:hover, nav ul li a.active{
    background-color: aliceblue;
    color: #011324;
}
section{
    padding: 20px;
    background-color: #011324;
    display: flex;
    border-radius: 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}



.hero{
    background-image: url('image/herobg.jpg');
    padding: 25px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    min-height: 50vh;

    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1{
    color: aliceblue;
    text-align: center;
    font-size: 200px;
    text-shadow: 2px 2px 4px #000;
}
.hero p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000;
}




.home {
  display: flex;  
  flex-direction: column;  
  align-items: center;                    
  padding: 10px;   
  scroll-margin-top: 50px;
  border-radius: 0; 
     
}

.home h1{
    color: aliceblue;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000;
    flex: 1;
}
.home p{
  
    color: aliceblue;
    font-size: 1.5em;

}
.slideshow-container {
    max-width: 800px;
    aspect-ratio: 4/3; 
    overflow: hidden; 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshow-track {
  display: flex; 
  width: 100%; 
  height: 100%;
  animation: slide 104s infinite linear;
  object-fit: cover;
}

.slideshow-track img {
  width: 100%; 
  height: 100%;
  flex-shrink: 0;
  object-fit: cover; 
  transition: transform 0.5s ease-in-out;
}

@keyframes slide {
  
    0% { transform: translateX(0%); } 
    7.2115% { transform: translateX(0%); } 

    7.6923% { transform: translateX(-100%); } 
    14.9038% { transform: translateX(-100%); }

    15.3846% { transform: translateX(-200%); } 
    22.5961% { transform: translateX(-200%); } 

    23.0769% { transform: translateX(-300%); } 
    30.2884% { transform: translateX(-300%); } 

    30.7692% { transform: translateX(-400%); } 
    37.9807% { transform: translateX(-400%); } 

    38.4615% { transform: translateX(-500%); } 
    45.6730% { transform: translateX(-500%); } 
    
    46.1538% { transform: translateX(-600%); } 
    53.3653% { transform: translateX(-600%); } 

    53.8461% { transform: translateX(-700%); } 
    61.0576% { transform: translateX(-700%); }

    61.5384% { transform: translateX(-800%); }
    68.7500% { transform: translateX(-800%); } 
            
    69.2307% { transform: translateX(-900%); }
    76.4422% { transform: translateX(-900%); } 

    76.9230% { transform: translateX(-1000%); }
    84.1345% { transform: translateX(-1000%); } 

    84.6153% { transform: translateX(-1100%); }
    91.8268% { transform: translateX(-1100%); } 

    92.3076% { transform: translateX(-1200%); }
    99.5191% { transform: translateX(-1200%); } 

    100% { transform: translateX(0%); }
}


.photoportfolio {
    position: relative;
    overflow: hidden;
    border: 2px solid #e0e1dd;
    border-radius: 15px;
    box-shadow: 4px 7px 7px #0f0f0f;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.photoportfolio:hover {
    transform: scale(1.05);
}

.photoportfolio img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 15px;
    
}

.imagesgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.image-name-overlay {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.photoportfolio:hover .image-name-overlay {
    opacity: 1;
}


.portfolio {
    align-items: center;
    flex-direction: column;
    scroll-margin-top: 50px;
}
.certification{
    align-items: center;
    flex-direction: column;
    scroll-margin-top: 50px;

}

.certification-title{
    text-align: center; 
    font-size: 30px;
}
.section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #f0f8ff;
    margin-bottom: 10px;
    width: 100%;
}
.section-title h1{
    font-size: 4rem;
    font-weight: 700;
}


body.modal-open {
    overflow: hidden; 
}


body.modal-open * {
    pointer-events: none !important;
    user-select: none;
}


body.modal-open #imgModal,
body.modal-open #imgModal * {
    pointer-events: auto !important;
    user-select: text;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 2000;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 85%;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#modalCaption {
    margin: 20px auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 80%;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.modal-close:hover {
    color: #19a1f0;
}


.aboutme{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    scroll-margin-top: 50px;

}
.content-wrapper {
    display: flex;
    gap: 50px; 
    align-items: flex-start; 
    width: 100%; 
    margin-top: 20px;
}
.text-content { 
    flex: 2; 
}
.profile-pic{
    width: 350px;
    height: 350px;
    border-radius: 14%;
    object-fit: cover;
    box-shadow: 0 0 0 8px #f0f8ff;
    align-self: center;
    margin-right: 0;
}
.text-content h1 {
    margin-top: 0;
}
.descriptionbox{
    color: #f0f8ff;
    font-size: 1em;
}



.aboutme h1{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f0f8ff;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000;
    
}
.description p{
    color: #f0f8ff;
    font-size: 1.3em;
}

.contact{
    text-align: center;
    padding: 5px;
    background-color: #011324;
    color:#f0f8ff;
    font-size: 0.9em;
    border-radius: 0 0 15px 15px;
}

.contact-list{
list-style: none;
padding: 0;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.contact-list li{
    font-size: 1.1em;
}
.contact-list li a{
    display:flex;
    align-items: center;
    text-align: center;
    width: 100px;
    gap: 5;
    color: #011324;
    background-color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.contact-list li a:hover{
    background-color: #1883e7;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px #011324;
}
.contact-list li a i{
    font-size: 1.5em;
}




